name: HueSDK CI

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  build:
    name: HueSDK CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Elixir
        uses: erlef/setup-elixir@885971a72ed1f9240973bd92ab57af8c1aa68f24
        with:
          elixir-version: 1.11.3
          otp-version: 23.2

      - name: Restore dependencies cache
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-

      - name: Restore build cache
        uses: actions/cache@v2
        with:
          path: _build
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-

      - name: Install dependencies
        run: mix deps.get

      - name: Run formatter
        run: mix format --check-formatted

      - name: Run credo
        run: mix credo

      - name: Run dialyzer
        run: mix dialyzer

      - name: Run tests
        run: mix test --trace --cover
